<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cyberbullying Analysis Using Natural Language Processing</title>

        <!-- Leaflet CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin="" />
        
        <!-- W3Schools CSS -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.16/css/bootstrap-multiselect.css">

        <!-- Our CSS -->
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css') }}"> -->
        <link rel="stylesheet" href="../static/css/style.css">

        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
        <script src="http://d3js.org/d3.v5.min.js"></script>
    </head>
    <body>
        
        <div class="w3-container-fluid">
            <!--Navigation bar-->
            <!-- <div class="topnav animated-background">
                <a href="#home">Home</a>
                <a href="#wordCloud">Wordcloud</a>
                <a href="#sentiTab">Sentiment Analysis</a>
                <a href="#grams">Bigrams and Trigrams</a>
            </div> -->
            <div style="background: url(https://cdn.pixabay.com/photo/2023/02/14/23/56/sunset-7790621_1280.jpg)" class="jumbotron-fluid bg-cover text-white">
            <!--Page Header-->
                <div class="topnav">
                    <a href="#home">Home</a>
                    <a href="#stacked-bar">All Categories</a>
                    <a href="#selCategory">Individual Category</a>
                    <!-- <a href="#sentiTab">Sentiment Analysis</a> -->
                    <a href="#grams">Bigrams and Trigrams</a>
                </div>
                <div class="container py-5 text-center" id="home">
                    <h1 class="display-3">Natural Language Processing</h1>
                    <h2 class="display-6">Cyberbullying Analysis of Youtube Comments</h2>
                    <!-- <h5 class="lh-base">Use the Dropdown to select your prefered category</h5> -->
                <!-- </div> -->
                    
                <!-- Dropdown Menu by Category-->
                    <!-- <div class="dropdown">
                        <select id="selCategory">
                            <option value="Automobiles">Automobiles</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Education">Education</option>
                            <option value="Entertainment">Entertainment</option>
                            <option value="Film">Film</option>
                            <option value="Gaming">Gaming</option>
                            <option value="Howto">How To</option>
                            <option value="Music">Music</option>
                            <option value="News and Politics">News and Politics</option>
                            <option value="People">People</option>
                            <option value="Pets and Animals">Pets and Animals</option>
                            <option value="Problematic">Problematic</option>
                            <option value="Science and Technology">Science and Technology</option>
                            <option value="Shows">Shows</option>
                            <option value="Sports">Sports</option>
                            <option value="Travel">Travel</option>
                        </select>
                    </div> -->
                </div>
                    
            </div>    
            
            
            <!-- Creator Breakdown -->
            <!-- <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Summary</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Category Breakdown</h6>
                  <p id="creator-data" class="card-text">This will be where a breakdown of the category will be, such as creators within and overall score</p> <!--PULL DATA TO creator-data ID-->
                <!-- </div>
            </div> -->
            
            
            <!-- <div class="panel panel-primary">
                <div class="panel-heading">
                <h2 class="panel-title">Summary</h2>
                </div>
                <div id="creator-data" class="panel-body"></div> 
            </div> -->

            <!-- Div for Stacked Bar -->
            <div class="col-md-12">
                <div id="stacked-bar">
                    <!-- <h2>Comment Breakdown for All Categories</h2> -->
                </div>
                <script src="https://fastly.jsdelivr.net/npm/echarts-simple-transform/dist/ecSimpleTransform.min.js"></script>
            </div>
            <hr>
            <!-- Dropdown Menu by Category-->
            <div class="dropdown">
                <select id="selCategory">
                    <option value="Automobiles">Automobiles</option>
                    <option value="Comedy">Comedy</option>
                    <option value="Education">Education</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="Film">Film</option>
                    <option value="Gaming">Gaming</option>
                    <option value="Howto">How To</option>
                    <option value="Music">Music</option>
                    <option value="News and Politics">News and Politics</option>
                    <option value="People">People</option>
                    <option value="Pets and Animals">Pets and Animals</option>
                    <option value="Problematic">Problematic</option>
                    <option value="Science and Technology">Science and Technology</option>
                    <option value="Shows">Shows</option>
                    <option value="Sports">Sports</option>
                    <option value="Travel">Travel</option>
                </select>
            </div>
            <!-- Div for Wordcloud -->
            <div class="row" id="bar-cloud">
                <div id="wordCloud" class="col-md-6">
                    <div class="box">
                        <h2>Wordcloud</h2>
                        <h6>Most commented words within the selected category</h6>
                        <img id="blahblah" src="         " alt="Wordcloud"> <!--FILL IN IMAGE PATH-->
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="chart-container"></div>
                    <script src="https://fastly.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
                </div>
            </div>
            <hr>
            <!-- Div for Sentiment Analysis Table -->
            <!-- <div> -->
                <!-- <div id="sentiTab" class="col-md-12"> -->
                    <!-- <div class="dropdown" id="categories">
                        <label class="custom-checkbox-label"><input type="checkbox" value="Automobiles" class="custom-checkbox">Automobiles</label>
                        <label class="custom-checkbox-label"><input type="checkbox" value="Comedy" class="custom-checkbox">Comedy</label>
                        <label class="custom-checkbox-label"><input type="checkbox" value="Entertainment" class="custom-checkbox">Entertainment</label>
                        <label class="custom-checkbox-label"><input type="checkbox" value="Film" class="custom-checkbox">Film</label>
                        <label class="custom-checkbox-label"><input type="checkbox" value="News and Politics" class="custom-checkbox">News and Politics</label>
                        <label class="custom-checkbox-label"><input type="checkbox" value="Gaming" class="custom-checkbox">Gaming</label>
                        <label class="custom-checkbox-label"><input type="checkbox" value="Science and Technology" class="custom-checkbox">Science and Technology</label>
                        <label class="custom-checkbox-label"><input type="checkbox" value="Shows" class="custom-checkbox">Shows</label>
                        <label class="custom-checkbox-label"><input type="checkbox" value="Sports" class="custom-checkbox">Sports</label>
                        <label class="custom-checkbox-label"><input type="checkbox" value="Pets and Animals" class="custom-checkbox">Pets and Animals</label>
                        <label class="custom-checkbox-label"><input type="checkbox" value="Music" class="custom-checkbox">Music</label>
                        <label class="custom-checkbox-label"><input type="checkbox" value="Travel" class="custom-checkbox">Travel</label>
                        <label class="custom-checkbox-label"><input type="checkbox" value="Problematic" class="custom-checkbox">Problematic</label>
                        <label class="custom-checkbox-label"><input type="checkbox" value="LGBTQ+" class="custom-checkbox">LGBTQ+</label>
                    </div> -->
                    <!-- <div id="chart-container"></div>
                    <script src="https://fastly.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>    FINISH DEVELOPING TABLE FRAMEWORK AND ASK FOR SPECIFIC COLUMNS -->
                <!-- </div> -->
            <!-- </div> -->
            <!-- <hr> -->
            <!-- Bigram and Trigram Charts -->
            <div class="row" id="grams">
                <div class="col-md-6">
                    <h2>Bigram Analysis</h2>
                    <img src="         " alt="Bigram Analysis"> <!--FILL IN IMAGE PATH-->
                </div>
                <div class="col-md-6">
                    <h2>Trigram Analysis</h2>
                    <img src="         " alt="Trigram Analysis"> <!--FILL IN IMAGE PATH-->
                </div>
            </div>
        </div>
        <br>
        <footer class="w3-container w3-theme-dark w3-padding-16">
            <h3>Thank You for Visiting!</h3>
            <div id="toTop" class="to-top-button">
                <a class="w3-text-white" href="#home"><span class="w3-xlarge">
                <i class="fa fa-chevron-circle-up"></i></span></a>
            </div>
        </footer>
        <script type="module" src="../static/js/logic.js"></script>
        <!-- <script src="https://unpkg.com/d3@5.15.0/dist/d3.min.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.16/js/bootstrap-multiselect.min.js"></script>
    </body>
</html>