/* Apply a background color to the entire page */
body {
    background-color: #f8f9fa; /* Light gray */
    font-family: Oswald;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

/* Style the navigation bar */
.topnav {
    background-color: #8fe38f; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
}

.topnav a {
    float: left;
    display: block;
    color: #004500;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #73c673; /* Slight change in color on hover */
    color: #1c573f;
}

/* Style the page header */
.headerContainer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 80px 0;
}

/* Style the dropdown */
.dropdown {
    margin-top: 20px;
    text-align: center;
}

/* Style the panel */
.panel-primary {
    margin-top: 40px;
}

.panel-heading {
    background-color: #343a40;
    color: white;
    padding: 10px 15px;
}

/* Style the content boxes */
.box {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border: 1px solid #e2e3e5;
    border-radius: 5px;
}

/* Style the images */
.box img {
    max-width: 100%;
    height: auto;
}

/* Style the Bigram and Trigram sections */
#grams {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#grams .col-md-6 {
    width: 48%; /* Adjust as needed */
}

/* Add your additional CSS rules here */
#chart-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding: 20px;
    margin: 20px;
    border: 1px solid #e2e3e5;
    border-radius: 5px;
  }

#categories {
    margin: 10px;
}
/* Responsive media queries */
@media (max-width: 768px) {
    /* Adjust styles for smaller screens */
}

